<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chimkon.customfood">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pizzaicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DoughActivity" />
        <activity android:name=".SauceActivity" />
        <activity android:name=".CheeseActivity" />
        <activity android:name=".MeatActivity" />
        <activity android:name=".CustomPizzaActivity" />
        <activity android:name=".VeggieActivity" />
        <activity android:name=".OverviewActivity" />
    </application>

</manifest>